@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #e1e8eb;
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  min-height: 100vh;
}

.container {
    /* border: 1px solid red; */
  width: 350px;
  margin: 30px auto;
}

h1 {
  letter-spacing: 1.5px;
  margin: 0;
}

h3 {
    margin: 40px 0;
    padding-bottom: 20px;
    border-bottom: 2px solid #2C3333;
}

h4 {
  text-transform: uppercase;
  margin: 0;
}

.credit-debit-container {
    background-color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;       
}

.credit-debit-container > div {
    /* border: 2px solid red; */
    flex: 1;
    text-align: center;
}

.credit-debit-container > div:first-of-type {
    border-right: 1px solid #2C3333;
}

.money {
    font-size: 24px;
    letter-spacing: 1.5px;
    margin: 5px 0;
}

.money.credit {
    color: #54BAB9;
}

.money.debit {
    color: #FC4F4F;
}

.list {
    /* border: 2px solid red; */
    list-style: none;
    padding: 0;
    margin-bottom: 30px;
}

.list li {
    background-color: white;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 10px;
    margin: 10px 0;
}

.list .credit {
    border-right: 10px solid  #54BAB9;
}

.list .debit {
    border-right: 10px solid #FC4F4F;
}

.delete-btn {
    background-color: #DA1212;
    color: white;
    border: 0;
    font-size: 18px;
    line-height: 18px;
    padding: 3px 5px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-100%,-50%);
    transition: 0.5s ease;
    opacity: 0;
}

.list li:hover .delete-btn {
    opacity: 1;
}

label {
    display: inline-block;
    margin: 10px 0;
}

input {
    border: 2px solid #74959A;
    display: block;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
}

input:nth-of-type(1) {
    margin-bottom: 10px;
}

.submit {
    background-color: #5584AC;
    padding: 10px;
    width: 100%;
    color: white;
    font-size: 18px;
    border-radius: 10px;
}